/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET END */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Galada", cursive;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}
#bg {
  /* The image used */
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:800px) {
  .head {
    padding-top: 5em;
  }
}
@media (max-width:500px) {
  .head {
    padding-top: 5em;
  }
}
h1 {
  font-family: "Galada", cursive;
  padding: 1%;
  margin: 0 auto;
  width: 45%;
  background-color: rgba(67, 38, 15, 0.8);
  text-align: center;
  font-size: 8em;
  color: #d29c60;
}
@media (max-width:800px) {
  h1 {
    font-size: 3em;
  }
}
@media (max-width:500px) {
  h1 {
    font-size: 3em;
  }
}
p {
  font-family: "Galada", cursive;
  line-height: 1.6;
}
body {
  max-height: 100vh;
  max-width: 100%;
}
body header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin: 0 auto;
  height: 5em;
}
@media (max-width:800px) {
  body header {
    position: static;
    margin-top: 10%;
  }
}
@media (max-width:500px) {
  body header {
    position: static;
    margin-top: 10%;
  }
}
body header nav {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:800px) {
  body header nav {
    width: 100%;
    margin-top: 1%;
    padding: 0%;
  }
}
@media (max-width:500px) {
  body header nav {
    width: 100%;
    margin-top: 1%;
    padding: 0%;
  }
}
body header nav .logo img {
  background-color: #d29c60;
  height: 22em;
  width: 22em;
  display: flex;
}
@media (max-width:800px) {
  body header nav .logo img {
    margin-left: 5%;
    height: 15em;
    width: 15em;
  }
}
@media (max-width:500px) {
  body header nav .logo img {
    margin-left: 5%;
    height: 10em;
    width: 10em;
  }
}
body header nav .navbuttons {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-right: 2%;
}
@media (max-width:800px) {
  body header nav .navbuttons {
    margin: 2% 2%;
  }
}
@media (max-width:500px) {
  body header nav .navbuttons {
    margin: 2% 2%;
  }
}
body header nav .navbuttons a {
  margin: 0.5em auto;
  color: #d29d60;
  text-decoration: none;
}
body header nav .navbuttons button {
  height: 3em;
  width: 10em;
  margin: 2% 0;
  padding: 0 1.25em;
  background: linear-gradient(to bottom, #b17437 5%, #533215 100%);
  background-color: #b17437;
  border-radius: 15px;
  border: 2px solid #110906;
  display: inline-block;
  cursor: pointer;
  color: #d29d60;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 1px 2px 0px #110906;
}
body header nav .navbuttons button:hover {
  background: linear-gradient(to bottom, #533215 5%, #b17437 100%);
  background-color: #533215;
}
body header nav .navbuttons button:active {
  position: relative;
  top: 1px;
}
@media (max-width:800px) {
  body header nav .navbuttons button {
    height: 3em;
    margin: 2% 1%;
    padding: 1.25em;
    font-size: 1.5em;
  }
}
@media (max-width:500px) {
  body header nav .navbuttons button {
    height: 2em;
    margin: 2% 1%;
    padding: 0.35em;
    font-size: 1.15em;
  }
}
body .head {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body .head a {
  padding-top: 2.5%;
  text-align: center;
  margin: 3em auto 0;
  width: 40%;
  margin-bottom: 2em;
  height: 3em;
  box-shadow: 4px 4px 0px -1px #43260f;
  background: linear-gradient(to bottom, #b17437 5%, #533215 100%);
  background-color: #b17437;
  border-radius: 15px;
  border: 2px solid #110906;
  display: inline-block;
  cursor: pointer;
  color: #d29d60;
  font-size: 4em;
  text-decoration: none;
  text-shadow: 1px 2px 0px #110906;
}
body .head a:hover {
  background: linear-gradient(to bottom, #533215 5%, #b17437 100%);
  background-color: #533215;
}
body .head a:active {
  position: relative;
  top: 1px;
}
@media (max-width:800px) {
  body .head a {
    font-size: 2em;
    margin-top: 5%;
  }
}
@media (max-width:500px) {
  body .head a {
    font-size: 2em;
    margin-top: 5%;
  }
}
body p {
  background-color: #d29c60;
  font-size: 3.4em;
  color: #110906;
}
@media (max-width:800px) {
  body p {
    font-size: 2.2em;
  }
}
@media (max-width:500px) {
  body p {
    font-size: 2.2em;
  }
}
body #content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
body #content .main {
  margin: 0 auto 5%;
  width: 70%;
  height: 100%;
  background-color: rgba(67, 38, 15, 0.8);
}
@media (max-width:800px) {
  body #content .main {
    width: 100%;
  }
}
@media (max-width:500px) {
  body #content .main {
    width: 100%;
  }
}
body #content .main .dish {
  width: 100%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width:800px) {
  body #content .main .dish {
    width: 80%;
  }
}
@media (max-width:500px) {
  body #content .main .dish {
    width: 80%;
  }
}
body #content .main .dish img {
  border-left: 15px solid #d29c60;
  border-right: 15px solid #d29c60;
  border-bottom: 25px solid #d29c60;
  width: 70%;
}
@media (max-width:800px) {
  body #content .main .dish img {
    width: 100%;
  }
}
@media (max-width:500px) {
  body #content .main .dish img {
    width: 100%;
  }
}
body #content .main .dish p {
  text-align: center;
  border-top: 25px solid #d29c60;
  border-left: 15px solid #d29c60;
  border-right: 15px solid #d29c60;
  padding: 20px;
  width: 70%;
}
@media (max-width:800px) {
  body #content .main .dish p {
    width: 100%;
  }
}
@media (max-width:500px) {
  body #content .main .dish p {
    width: 100%;
  }
}
body #content .main .dish a {
  margin: 10em auto 0;
  width: 15%;
}
body .lowerButton {
  margin: 0 auto 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body .lowerButton a {
  padding-top: 2.5%;
  text-align: center;
  margin: 1em auto 0;
  width: 40%;
  height: 3em;
  box-shadow: 4px 4px 0px -1px #43260f;
  background: linear-gradient(to bottom, #b17437 5%, #533215 100%);
  background-color: #b17437;
  border-radius: 15px;
  border: 2px solid #110906;
  display: inline-block;
  cursor: pointer;
  color: #d29d60;
  font-size: 4em;
  text-decoration: none;
  text-shadow: 1px 2px 0px #110906;
}
body .lowerButton a:hover {
  background: linear-gradient(to bottom, #533215 5%, #b17437 100%);
  background-color: #533215;
}
body .lowerButton a:active {
  position: relative;
  top: 1px;
}
@media (max-width:800px) {
  body .lowerButton a {
    font-size: 2em;
  }
}
@media (max-width:500px) {
  body .lowerButton a {
    font-size: 2em;
    padding-top: 3%;
  }
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  background-color: rgba(17, 9, 6, 0.8);
}
@media (max-width:500px) {
  body footer {
    height: 8em;
  }
}
@media (max-width:800px) {
  body footer {
    height: 8em;
  }
}
body footer p {
  background-color: rgba(17, 9, 6, 0);
  color: #d29c60;
  padding: 2%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6em;
}
@media (max-width:800px) {
  body footer p {
    font-size: 3em;
  }
}
@media (max-width:500px) {
  body footer p {
    font-size: 3em;
  }
}
body {
  max-height: 100vh;
  max-width: 100%;
}
body header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin: 0 auto;
  height: 5em;
}
@media (max-width:800px) {
  body header {
    position: static;
    margin-top: 10%;
  }
}
@media (max-width:500px) {
  body header {
    position: static;
    margin-top: 10%;
  }
}
body header nav {
  margin: 0 auto;
  padding-top: 10%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:800px) {
  body header nav {
    width: 100%;
    margin-top: 1%;
    padding: 0%;
  }
}
@media (max-width:500px) {
  body header nav {
    width: 100%;
    margin-top: 1%;
    padding: 0%;
  }
}
body header nav .logo img {
  background-color: #d29c60;
  height: 22em;
  width: 22em;
  display: flex;
}
@media (max-width:800px) {
  body header nav .logo img {
    margin-left: 5%;
    height: 15em;
    width: 15em;
  }
}
@media (max-width:500px) {
  body header nav .logo img {
    margin-left: 5%;
    height: 10em;
    width: 10em;
  }
}
body header nav .navbuttons {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-right: 2%;
}
@media (max-width:800px) {
  body header nav .navbuttons {
    margin: 2% 2%;
  }
}
@media (max-width:500px) {
  body header nav .navbuttons {
    margin: 2% 2%;
  }
}
body header nav .navbuttons a {
  margin: 0.5em auto;
  color: #d29d60;
  text-decoration: none;
}
body header nav .navbuttons button {
  height: 3em;
  width: 10em;
  margin: 2% 0;
  padding: 0 1.25em;
  background: linear-gradient(to bottom, #b17437 5%, #533215 100%);
  background-color: #b17437;
  border-radius: 15px;
  border: 2px solid #110906;
  display: inline-block;
  cursor: pointer;
  color: #d29d60;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 1px 2px 0px #110906;
}
body header nav .navbuttons button:hover {
  background: linear-gradient(to bottom, #533215 5%, #b17437 100%);
  background-color: #533215;
}
body header nav .navbuttons button:active {
  position: relative;
  top: 1px;
}
@media (max-width:800px) {
  body header nav .navbuttons button {
    height: 4em;
    margin: 2% 1%;
    padding: 1.25em;
    font-size: 1.5em;
  }
}
@media (max-width:500px) {
  body header nav .navbuttons button {
    height: 2em;
    margin: 2% 1%;
    padding: 0.35em;
    font-size: 1.15em;
  }
}
body .aboutHead {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  align-content: center;
}
body .aboutHead .head {
  display: flex;
  margin-bottom: 20em;
  align-items: center;
  flex-direction: column;
}
@media (max-width:800px) {
  body .aboutHead .head {
    margin-bottom: 5em;
  }
}
@media (max-width:500px) {
  body .aboutHead .head {
    margin-bottom: 5em;
  }
}
body .aboutHead .head h1 {
  padding-top: 2%;
}
body #content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
body #content .people {
  margin: 0 auto 5%;
  width: 70%;
  height: 100%;
  background-color: rgba(67, 38, 15, 0.8);
}
@media (max-width:800px) {
  body #content .people {
    width: 100%;
  }
}
@media (max-width:500px) {
  body #content .people {
    width: 100%;
  }
}
body #content .people .person {
  width: 100%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width:800px) {
  body #content .people .person {
    width: 80%;
  }
}
@media (max-width:500px) {
  body #content .people .person {
    width: 80%;
  }
}
body #content .people .person p {
  text-align: center;
  border-top: 25px solid #d29c60;
  border-left: 15px solid #d29c60;
  border-right: 15px solid #d29c60;
  padding-bottom: 2em;
  width: 70%;
  font-size: 2em;
}
@media (max-width:800px) {
  body #content .people .person p {
    width: 100%;
    font-size: 2em;
  }
}
@media (max-width:500px) {
  body #content .people .person p {
    width: 100%;
    font-size: 1.5em;
  }
}
body #content .people .person img {
  margin: 5%;
  height: 30em;
  width: 30em;
}
@media (max-width:800px) {
  body #content .people .person img {
    height: 20em;
    width: 20em;
  }
}
@media (max-width:500px) {
  body #content .people .person img {
    height: 10em;
    width: 10em;
  }
}
#contactBody {
  max-width: 100%;
  overflow: hidden;
}
#contactBody header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: static;
  margin: 2% auto;
  height: 5em;
}
@media (max-width:800px) {
  #contactBody header {
    position: static;
    margin-top: 10%;
  }
}
@media (max-width:500px) {
  #contactBody header {
    position: static;
    margin-top: 10%;
  }
}
#contactBody header nav {
  margin: 0 auto;
  padding-top: 10%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:800px) {
  #contactBody header nav {
    width: 100%;
    margin-top: 1%;
    padding: 0;
  }
}
@media (max-width:500px) {
  #contactBody header nav {
    width: 100%;
    margin-top: 1%;
    padding: 0;
  }
}
#contactBody header nav .logo img {
  background-color: #d29c60;
  height: 22em;
  width: 22em;
  display: flex;
}
@media (max-width:800px) {
  #contactBody header nav .logo img {
    margin-left: 5%;
    height: 15em;
    width: 15em;
  }
}
@media (max-width:800px) and (max-width:500px) {
  #contactBody header nav .logo img {
    margin-left: 5%;
    height: 10em;
    width: 10em;
  }
}
#contactBody header nav .head {
  width: 100%;
  margin: 0 auto;
}
@media (max-width:800px) {
  #contactBody header nav .head {
    margin-bottom: 5em;
  }
}
@media (max-width:500px) {
  #contactBody header nav .head {
    margin-bottom: 5em;
  }
}
#contactBody header nav .head .navbuttons {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-right: 2%;
}
@media (max-width:800px) {
  #contactBody header nav .head .navbuttons {
    margin: 3% 2%;
  }
}
@media (max-width:500px) {
  #contactBody header nav .head .navbuttons {
    margin: 3% 2%;
  }
}
#contactBody header nav .head h1 {
  padding-top: 3%;
  width: 55%;
}
#contactBody .contact {
  margin: 12% auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  border-radius: 5px;
  background-color: #d29c60;
}
@media (max-width:500px) {
  #contactBody .contact {
    margin-top: 20%;
    height: 70%;
    width: 100%;
  }
}
@media (max-width:800px) {
  #contactBody .contact {
    height: 60%;
    width: 100%;
  }
}
#contactBody .contact form {
  width: 50%;
}
#contactBody .contact form label {
  font-size: 2em;
}
#contactBody .contact form input::placeholder {
  color: #110906;
}
#contactBody .contact form textarea::placeholder {
  color: #110906;
}
#contactBody .contact form input[type="text"],
#contactBody .contact form select,
#contactBody .contact form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ebcdb4;
  color: #110906;
}
#contactBody .contact form input[type="submit"] {
  background-color: rgba(67, 38, 15, 0.8);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#contactBody .contact form input[type="submit"]:hover {
  background-color: #533215;
}
#contactBody footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10em;
  background-color: rgba(17, 9, 6, 0.8);
}
@media (max-width:500px) {
  #contactBody footer {
    height: 8em;
  }
}
@media (max-width:800px) {
  #contactBody footer {
    height: 8em;
  }
}
#contactBody footer p {
  background-color: rgba(17, 9, 6, 0);
  color: #d29c60;
  padding: 2%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6em;
}
@media (max-width:500px) {
  #contactBody footer p {
    font-size: 3em;
  }
}
@media (max-width:800px) {
  #contactBody footer p {
    font-size: 3em;
  }
}
