/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET END */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Galada", cursive;
  font-family: "Roboto", sans-serif;
}
body,
html {
  height: 100%;
}
body {
  max-width: 100%;
}
body h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
body h2 {
  color: white;
  font-size: 4em;
}
body p {
  background-color: #b17537;
  font-size: 2.4em;
  color: #ebcdb4;
}
body #header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin: 0 auto;
  height: 200px;
}
body #header nav {
  flex-direction: row;
  justify-content: space-evenly;
}
body #header .logo {
  display: flex;
  justify-content: flex-start;
}
body #header .navbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #header .navbuttons button {
  margin: 1% 0;
  padding: 10px;
}
body #header nav {
  display: flex;
  flex-direction: row;
  height: 100%;
}
body #content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0, 50%;
  padding-left: 40%;
}
body .main {
  margin: 0, auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
body img {
  margin: 3% 5%;
  width: 100%;
}
body p {
  width: 100%;
}
footer {
  height: 20em;
  background-color: rgba(67, 38, 15, 0.7);
}
#bg {
  /* The image used */
  background-image: url("images/kitchen.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head {
  display: block;
  padding-top: 200px;
}
.head h1 {
  font-size: 8em;
}
section {
  background-color: #b17537;
}
.people {
  background-color: #b17537;
}
.people p {
  font-size: 24px;
}
