
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin: 0 auto;
  height: 20em;
  @media @mobile {
    position: static;
  }
  nav {
    margin: 0 auto;
    padding-top: 3%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media @mobile {
      width: 100%;
    }
    .logo img{ 
      height: 25em;
      width: 25em;
      display: flex;
      @media @mobile {
        height: 10em;
        width: 10em;
        margin: 1% 0;
      }
    }
    .navbuttons {
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      margin-right: 2%;
      @media @mobile {
        margin: 1% 1%;
      }

      button {
        margin: 2% 0;
        padding: 1.25em;
        @media @mobile {
          height:2em;
          margin: 1% 1%;
          padding: 0.35em;
        }
      }
    }
  }
}
.head {
  display: flex;
  flex-direction: column;
}
.people {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: rgba(210, 156, 96, .6);
 
  img {
    margin: 5%;
    height: 20em;
    width: 25em;
  }

  p {
    margin: 5%;
    width: 55%;
    @media @mobile {
      font-size: 2.2em;
    }
  }
  
}
.person {
  margin: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media @mobile {
   flex-direction: column; 
  }
}


