

.people {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: rgba(210, 156, 96, .6);
 
  img {
    margin: 5%;
    height: 20em;
    width: 25em;
  }

  p {
    margin: 5%;
    width: 55%;
  }
  
}
.person {
  margin: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media @mobile {
   flex-direction: column; 
  }
}

.head {
  display: flex;
  flex-direction: column;

  
}
