#bg {
    /* The image used */
    background-image: url("images/kitchen.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
   
   
  }



.head {
  display: block;
  padding-top: 200px;
  h1{font-size: 8em;}
  

}


