// Color Assignments
@background-color: @copper;
@color: @asphalt;

//Colors
@korma: #9e5110;
@butteredRum: #9e7310;
@whiskey: #d29c60;
@justRight: #ebcdb4;
@copper: #b17537;
@asphalt: #110906;
@deepOak: rgba(67, 38, 15, 0.8);
@punga: #533215;

//mobile
@mobile: ~"(max-width:500px)";
//tablet
@tablet: ~"(max-width:800px)";
