// Color Assignments
 @background-color: @copper;
 @color: @asphalt;





//Colors
@korma: #9e5110;
@butteredRum: #9e7310;
@whiskey: #d29c60;
@justRight: #ebcdb4;
@copper: #b17537;
@asphalt: #110906;
@deepOak: #43260f;
@punga: #533215;

//mobile
@mobile: ~"(max-width:500px)";